<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="./resource/css/bootstrap.css" rel="stylesheet">
	<title>学生信息管理系统</title>
	<style type="text/css">
	.input-group,.btn {margin-bottom: 10px;}
	</style>
</head>
<body>
<div class="container">
	<h2 class="text-center">添加学生</h2>
	<div class="panel panel-default">
 		<div class="panel-heading">
    		<h3 class="panel-title text-center">信息填写</h3>
  		</div>
  		<div class="panel-body">
	  		<form class="form" action="add" method="post">
	   			<div class="input-group" style="width:100%">
	      			<div class="input-group-addon">姓名</div>
	      			<input name="name" id="name" type="text" class="form-control" placeholder="">
	    		</div>
	    		<div class="input-group" style="width:100%">
	      			<div class="input-group-addon">性别</div>
	      			<select name="gender" class="form-control">
	      				<option value="男">男</option>
	      				<option value="女">女</option>
	      			</select>
	    		</div>
	    		<div class="input-group" style="width:100%">
	      			<div class="input-group-addon">年龄</div>
	      			<input name="age" id="age" type="number" class="form-control" placeholder="">
	    		</div>
	    		<div class="input-group" style="width:100%">
	      			<div class="input-group-addon">班级</div>
	      			<input name="class" id="class" type="number" class="form-control" placeholder="">
	    		</div>
	    		<input type="submit" class="btn btn-default" value="确认添加" style="width:100%" />
	    		<input type="button" class="btn btn-default" value="返回主页" style="width:100%" onclick="location='home'" />
			</form>
  		</div>
	</div>
</div>
</body>
</html>